*__pycache__*
__MACOSX/
/.idea
/benchmark/pdfs/
/benchmark/md_marker/
/benchmark/md_gemini/
/benchmark/dataset/samples/
/benchmark/human/prolific/annotations/
/benchmark/human/prolific/analysis/

/train_full/sft/generations/
/eval_test/more_all.xlsx
/eval_test/more_filtering.xlsx
/results_test/*.jsonl
/prerequisite/longbench_v2.jsonl
/prerequisite/scholarqabench.jsonl
/train_full/ood/loong/
/train_full/ood/longbenchv2/
/benchmark/dataset/clusters
